html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

::-webkit-scrollbar {
  width: 0.725rem;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #645a39;
}

.inbox {
  width: 400px;
  margin: 50px auto;
  background: white;
  border: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0px;
}

input:checked + p {
  background: #f9f9f9;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  transition: 0.2s;
  flex: 1;
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
}
